%div{:path => "/alacarte", :id => "alacarte"}
  .wrapper
    #scroller
      %h2 Nos Entrées
      %hr
      %ul
        %li
          %h5
            01 Soupe miso
            .description
              (N/A)
            .price
              2€40
        %li
          %h5 
            02 Salade de choux japonaise
            .description
              (N/A)
            .price
              2€40
        %li
          %h5 
            03 Gyoza
            .description
              (Ravioli grillés 4 pièces)
            .price
              4€80
        %li
          %h5 
            04 Nêm aux crevettes
            .description
              (4 pièces)
            .price
              4€80       
        %li
          %h5 
            05 raviolis aux crevettes à la vapeur
            .description
              (4 pièces)
            .price
              4€80       
        %li
          %h5 
            06 Agedashi
            .description
              (beignet de tofu)
            .price
              8€80
        %li
          %h5 
            07 Ika ring
            .description
              (calamars panés)
            .price
              8€80
        %li
          %h5 
            08 Shaké salade
            .description
              (salade saumon avocat)
            .price
              8€80       
        %li
          %h5 
            09 Salade d'algues
            .description
              (N/A)
            .price
              5€50       
        %li
          %h5 
            10 Tori niku salade
            .description
              (N/A)
            .price
              8€80
        %li
          %h5 
            S4 EBI salade
            .description
              (salade de crevettes)
            .price
              10€90
      %h2 Accompagnements
      %hr
      %ul
        %li
          %h5
            N1 Riz nature
            .description
              (N/A)
            .price
              2€00
        %li
          %h5 
            N2 Riz vinaigré
            .description
              (N/A)
            .price
              2€50
        %li
          %h5 
            N3 Nouilles japonaise sautées nature
            .description
              (N/A)
            .price
              5€50
        %li
          %h5 
            N4 Nouilles japonaise sautées poulet
            .description
              (N/A)
            .price
              6€00      
        %li
          %h5 
            N5 Nouilles japonaise sautées aux crevettes
            .description
              (N/A)
            .price
              7€00
        %li
          %h5 
            N6 Nouilles japonaises sautées aux boeuf
            .description
              (N/A)
            .price
              6€00
        %li
          %h5 
            N7 Nouilles japonaises sautées aux fruits de mer
            .description
              (N/A)
            .price
              7€50
        %li
          %h5 
            N8 Riz sauté au saumon
            .description
              (N/A)
            .price
              6€50
      %h2 Barbecues
      %h3.subheader Servie avec soupe, salade et riz
      %hr
      %ul
        %li
          %h5
            B1 Barbecue au boeuf 
            .description
              Servie avec soupe, salade et riz
            .price
              18€00
        %li
          %h5 
            B2 Barbecue aux fruits de mer
            .description
              Servie avec soupe, salade et riz
            .price
              27€00