%div{:path => "/boissons", :id => "boissons"}
  .wrapper
    #scroller
      %h2 Nos cocktails
      %h3.subheader Alcoolisés
      %hr
      %ul
        %li
          %h5
            C1 Royal banghkok 
            .description
              whisky, limonade, Citron vert (16cl)
            .price
              7€50
        %li
          %h5 
            C2 Phuket Sunrise 
            .description
              Cognac, Soho, Champagne (12cl)
            .price
              8€50
        %li
          %h5 
            C3 Sex on Paradise
            .description
              Vodka, Soho, Jus de passion, Sirop de grenadine (25cl)
            .price
              8€50
        %li
          %h5 
            C4 Aphrodisiaque Drink 
            .description
              whisky, Gimgembre frais, Sucre de canne, Menthe fraiche, Soda (16cl)
            .price
              8€50       
        %li
          %h5 
            C5 Mojito 
            .description
              Rhum blanc, Sucre de Canne, Citron vert, Menthe fraiche, Jus d'ananas (25cl)
            .price
              8€50       
        %li
          %h5 
            C6 Pina Colada
            .description
              Rhum blanc, Sucre de canne, Glace coco, Jus d'ananas (25cl)
            .price
              8€50
      %h2 Nos cocktails
      %h3.subheader Non alcoolisés
      %hr
      %ul
        %li
          %h5
            C7 Exotique 
            .description
              Jus de fruits exotiques, Jus de mangues, Jus d'ananas (28cl)
            .price
              5€90
        %li
          %h5 
            C8 Fleur d'amour
            .description
              Jus de banane, Jus d'ananas, Jus de fruit exotique (28cl)
            .price
              5€90
        %li
          %h5 
            C9 Mango
            .description
              Sorbet de mangue, Jus d'ananas, Jus de fruit exotique (20cl)
            .price
              6€50
        %li
          %h5 
            C10 Cocktail sans alcool maison
            .description
              Jus d'orange, jus de lychee, grenadine (10cl)
            .price
              3€50
      %h2 Nos apéritifs classique
      %hr
      %ul
        %li
          %h5
            Cocktail maison
            .description
              (8cl)
            .price
              3€50
        %li
          %h5 
            Coupe de champagne 
            .description
              (10cl)
            .price
              5€80
        %li
          %h5 
            Kir royal 
            .description
              Cassis, Mure (10cl)
            .price
              5€80
        %li
          %h5 
            Umeshu
            .description
              alcool de prune (8cl)
            .price
              3€50
        %li
          %h5
            Martini rouge ou blanc
            .description
              (6cl)
            .price
              3€50
        %li
          %h5 
            Martini gin
            .description
              (10cl)
            .price
              4€00
        %li
          %h5 
            Porto 
            .description
              (8cl)
            .price
              4€00
        %li
          %h5 
            Ricard
            .description
              (2cl)
            .price
              3€50
        %li
          %h5 
            Perroquet ou ricard Tomate
            .description
              (2cl)
            .price
              4€00
        %li
          %h5 
            Kir
            .description
              (Cassis, Mure)
            .price
              3€50
      %h2 Scoth, whisky, bourbon, eau de vie
      %hr
      %ul
        %li
          %h5
            J.B. 
            .description
              (4cl)
            .price
              5€00
        %li
          %h5 
            Johnny Walker
            .description
              Red label (4cl)
            .price
              5€00
        %li
          %h5 
            Vodka
            .description
              (4cl)
            .price
              4€00
        %li
          %h5 
            Baileys
            .description
              liqueur (4cl)
            .price
              5€00
        %li
          %h5
            Gin
            .description
              (4cl)
            .price
              4€00
        %li
          %h5 
            Soho
            .description
              litchi (4cl)
            .price
              3€50
        %li
          %h5 
            Rhum
            .description
              agricole (4cl)
            .price
              4€00
        %li
          %h5 
            Malibu Coco
            .description
              (4cl)
            .price
              4€00
        %li
          %h5 
            Jet 27, Jet 31
            .description
              (4cl)
            .price
              4€80
        %li
          %h5
            Poire William
            .description
              (4cl)
            .price
              4€80
        %li
          %h5
            Cointreau
            .description
              (4cl)
            .price
              4€80
        %li
          %h5 
            Calvados
            .description
              (4cl)
            .price
              4€80
        %li
          %h5 
            Cognac
            .description
              V.S Courvoisier (4cl)
            .price
              5€50
        %li
          %h5 
            Saké
            .description
              Mei Kuei lu (2cl)
            .price
              3€50
      %h2 Bières
      %hr
      %ul
        %li
          %h5
            Bière Asahi 
            .description
              Japonaise (25cl/50cl)
            .price
              3€50/6€00
        %li
          %h5 
            Bière Asahi
            .description
              Bouteille
            .price
              3€90
        %li
          %h5 
            Heineken
            .description
              (33cl)
            .price
              3€90
        %li
          %h5 
            Bière Tsingtao
            .description
              (33cl)
            .price
              3€90
      %h2 Eux, Sodas et Jus de fruits
      %hr
      %ul
        %li
          %h5
            Vittel, San Pellegrino 
            .description
              (50cl/100cl)
            .price
              2€90/4€50
        %li
          %h5 
            Perrier
            .description
              (33cl)
            .price
              3€50
        %li
          %h5 
            Coca Cola
            .description
              (33cl)
            .price
              3€50
        %li
          %h5 
            Coca Cola Zéro
            .description
              (33cl)
            .price
              3€50
        %li
          %h5
            Limonade 
            .description
              (25cl)
            .price
              3€50
        %li
          %h5 
            Schweppes
            .description
              (25cl)
            .price
              3€50
        %li
          %h5 
            Orangina
            .description
              (25cl)
            .price
              3€90
        %li
          %h5 
            Jus d'orange, ananas, abricot, banane, lychée
            .description
              (25cl)
            .price
              3€50
        %li
          %h5 
            Jus coco
            .description
              (28cl)
            .price
              5€50
        %li
          %h5 
            Supplément sirop
            .description
              (2cl)
            .price
              1€00
      %h2 Boissons Chaudes
      %hr
      %ul
        %li
          %h5
            Saké Japonais
            .description
              (Chaud)
            .price
              6€50
        %li
          %h5 
            Café et Décafeiné
            .description
              (tasse)
            .price
              1€90
        %li
          %h5 
            Café Créme
            .description
              (tasse)
            .price
              2€50
        %li
          %h5 
            Cappuccino
            .description
              (tasse)
            .price
              3€50
        %li
          %h5 
            Thé vert ou Thé jasmin
            .description
              (tasse)
            .price
              3€00
        %li
          %h5 
            Thé à la menthe
            .description
              (tasse)
            .price
              3€00
      %h2 Vins Rouges
      %hr
      %ul
        %li
          %h5
            Bordeaux Supérieur
            .description
              Haut cours Montessant (verre, 37.5cl, 75cl)
            .price
              3€00 / 7€50 / 13€50
        %li
          %h5 
            Brouilly Domaine Champ Grille
            .description
              (37.5cl, 75cl)
            .price
              12€50 / 18€90
        %li
          %h5 
            Cru du Beaujelais
            .description
              Moulin à vent (37.5cl, 75cl)
            .price
              13€50 / 21€50
        %li
          %h5 
            Côtes du Rhône
            .description
              Saveurs du Rhône (37.5cl, 75cl)
            .price
              6€90 / 12€90
        %li
          %h5 
            Saumur Champigny
            .description
              Le bois joli (37.5cl, 75cl)
            .price
              9€90 / 17€90
        %li
          %h5 
            Saint - Emilion / Châteaux Billeron Bouquey
            .description
              (37.5cl, 75cl)
            .price
              10€90 / 18€00
        %li
          %h5 
            Chateau Pailhas Grand Cru
            .description
              (37.5cl, 75cl)
            .price
              15€50 / 27€00
      %h2 Vins Rosés
      %hr
      %ul
        %li
          %h5
            Côtes de provences
            .description
              Esponton (verre, 37.5cl, 75cl)
            .price
              6€50
        %li
          %h5 
            Cabernet d'anjou
            .description
              (37.5cl, 75cl)
            .price
              1€90
        %li
          %h5 
            Tavel
            .description
              Léo Pascal (37.5cl, 75cl)
            .price
              2€50
        %li
          %h5 
            Pinot noir
            .description
              (37.5cl, 75cl)
            .price
              3€50
        %li
          %h5 
            Sancerre Henry Brochard
            .description
              (37.5cl, 75cl)
            .price
              3€00
      %h2 Vins Blancs
      %hr
      %ul
        %li
          %h5
            Touraine Blanc. Dom. de l'aumonier
            .description
              (verre, 37.5cl, 75cl)
            .price
              6€50
        %li
          %h5 
            Bourgogne Chablis
            .description
              Cave Chablisienne (37.5cl, 75cl)
            .price
              1€90
        %li
          %h5 
            Sancerre henry Brochard
            .description
              (37.5cl, 75cl)
            .price
              2€50
        %li
          %h5 
            Gewurztraminer
            .description
              (37.5cl, 75cl)
            .price
              3€50
        %li
          %h5 
            Sancerre Henry Brochard
            .description
              (37.5cl, 75cl)
            .price
              3€00
      %h2 Les champagnes
      %hr
      %ul
        %li
          %h5
            Veuve Renard de beaumont
            .description
              (75cl)
            .price
              45€00
        %li
          %h5 
            Ruinar
            .description
              (75cl)
            .price
              69€00