%div{:path => "/california", :id => "california"}
  .wrapper
    #scroller
      %h2 California Rolls
      %h3.subheader (Servis par 6 pièces) Riz vinaigré avec poisson cru et légumes
      %hr      
      %ul.row
        %li.four.column
          = image_tag("temp/food/california/ca1.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr
        %li.four.column
          = image_tag("temp/food/california/ca2.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr
        %li.four.column
          = image_tag("temp/food/california/ca3.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr
        %li.four.column
          = image_tag("temp/food/california/ca4.jpg")
          .food_infos
            %hr.notop
            %h4 
              MA1 Shaké Maki 
              %small
                (saumon)
            %price
              4€50
            %hr