%div{:path => "/california", :id => "maki"}
  .wrapper
    #scroller
      %ul.row
        %li.eight.column
          = image_tag("temp/food/california/ca1.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
        %li.eight.column
          = image_tag("temp/food/california/ca1.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
        %li.eight.column
          = image_tag("temp/food/california/ca1.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50
        %li.eight.column
          = image_tag("temp/food/california/ca1.jpg")
          .food_infos
            %h4 
              MA2 Tekka Maki
              %small
                (thon)
            %price
              4€50