%div{:path => "/contact", :id => "contact"}
  #map
  #myModal.reveal-modal
    %h2
      Takayalé
      %small
        restaurant japonais
    %h3
      138 Bis Route Corbeil, 91700 Sainte-Geneviève-des-Bois
    %h4
      01 69 25 88 88 ‎
    %a.close-reveal-modal ×