%div{:path => "/platschaud", :id => "platschaud"}
  .wrapper
    #scroller
      %h2 Plats chaud 
      %h3.subheader (Servi en menu avec soupe, salede et riz nature) +2 euros
      %hr      
      %ul.row
        %li.four.column
          = image_tag("temp/food/menu/m28.jpg")
          .food_infos
            %h4 
              M28 Tai no yakimono
              %small
                (Daurade grillé sauce maison)
            %price
              15€50
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m31.jpg")
          .food_infos
            %h4 
              M31 Maguro tataki
              %small
                (Thon mi cuit)
            %price
              14€50
            %hr
        %li.four.column
          = image_tag("temp/food/menu/m32.jpg")
          .food_infos
            %h4 
              M32 Kushikatsu moriawase
              %small
                Assortiment de brochetter panées
            %price
              14€50
            %hr