// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

body
  overflow: hidden
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  header
    +column(3)
    background: black image-url("menu_background.png") no-repeat bottom center
    height: 100%
    z-index: 200
    h1.logo
      a
        display: block
        background: image-url("logo.png") no-repeat center top
        width: 100%
        text-indent: -9999px
        height: 60px
        margin-top: 40px
    dl.tabs.vertical
      text-align: center
      border: none
      dd
        border: none
        a
          background: none
          border: none
          box-shadow: none
          padding: 8px 20px
          line-height 16px
          color: white
          font-size: 12px
          font-weight: bold
      dd.active
        border: 0
        a
          background: none
          border: none
          box-shadow: none
          padding: 8px 20px
          color: #AB0E0E
  .container_slide
    +column(13)
  #slides_container
    color: white
    top: 0
    left: 0
    width: 100%
    height: 100%
    overflow: hidden
    .slide
      overflow: hidden
      position: absolute
      width: 100%
      height: 100%
      > div
        position: absolute
      -webkit-transform: translateZ(0)
      -webkit-perspective: 1000
      .row
        width: 100%
      .wrapper
        position: absolute
        z-index: 1
        top: 0px
        bottom: 0px
        left: 0
        width: 100%
        overflow: hidden
        #scroller
          overflow: hidden
          position: absolute
          z-index: 1
          -webkit-tap-highlight-color: rgba(0,0,0,0)
          width: 100%
          padding: 0
          padding-right: 10px
          padding-left: 10px
          ul
            li
              .food_infos
                width: 100%
                text-align: center
                float: left
                color: black
                h4
                  font-size: 12px
                  text-align: center
      #bg
        position: fixed
        top: -50%
        left: -50%
        width: 200%
        height: 200%
        img
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0
          margin: auto
          min-width: 50%
          min-height: 50%
  #slide_temp
    display: none
  .navbar
    z-index: 100
    position: fixed
  #maki, #california, #delice, #sushi, #yakitori, #primptemps, #sashimi, #plats_chaud, #menu
    background: white
    width: 100%
    height: 100%
    .row
      .four, .eight
        padding: 10px