%header
  %h1.logo.hide-for-small
    %a{:href => "/"}
      takayalé
      %small
        Restaurant Japonais
  %hr.hide-for-small
  %nav{:role => "navigation"}
    %dl.nice.vertical.tabs#main-nav
      %dd
        %a{:href => "/yakitori"} NOS YAKITORI
      %dd
        %a{:href => "/sushi"} NOS SUSHI
      %dd
        %a{:href => "/sashimi"} NOS SASHIMI
      %dd
        %a{:href => "/maki"} NOS MAKI
      %dd
        %a{:href => "/menu"} MENU
      %dd
        %a{:href => "/menu_midi"} MENU MIDI
      %dd
        %a{:href => "/platschaud"} PLATS CHAUD
      %dd
        %a{:href => "/boissons"} BOISSONS
      %dd
        %a.contact{:href => "/contact"} CONTACT
  %hr.hide-for-small