%header
  %h1.logo
    %a{:href => "/"}
      takayale 91
      %small
        Restaurant Japonais
  %dl.nice.vertical.tabs
    %dd
      %a{:href => "/yakitori"} NOS YAKITORI
    %dd
      %a{:href => "/sushi"} NOS SUSHI
    %dd
      %a{:href => "/sashimi"} NOS SASHIMI
    %dd
      %a{:href => "/maki"} NOS MAKI
    %dd
      %a{:href => "/california"} CALIFORNIA ROLL
    %dd
      %a{:href => "/primptemps"} PRIMPTEMPS ROLL
    %dd
      %a{:href => "/delice"} DÉLICE SAUMON ROLL
    %dd
      %a{:href => "/menu"} MENU
    %dd
      %a{:href => "/menu_midi"} MENU MIDI